{%  extends "novabase.html" %}
{%  block title %}System Administration{%  endblock  %}
{%  block subtitle %} Admin Site {%  endblock  %}

{% block menu %}
	<li class="homelink">
            <a href='/dashboards/{{ nav.link("userdash", view= "graphic", minus=["id", "pid"]) }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("registeruser", minus=["id", "pid"]) }}'><span>Register</span></a>
          </li>
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("seachupdateuser", minus=["id", "pid"]) }}'><span>Update</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("usertrail") }}'><span>Trail</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwupload", minus=["template"]) }}'><span>Upload Users List</span></a>
          </li>  
	  
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("groupmessage") }}'><span>Group Messages</span></a>
          </li>
	<li class="homelink">
            <a href='/dashboards/{{ nav.link("adminsite", minus=["factype"]) }}'><span>Admin Site</span></a>
          </li> 

{% endblock %}

{% block position %}
<li>&#187; <a href='/dashboards/{{ nav.link("adminsite", view= "graphic", minus = ["group"]) }}'>Admin Site</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}


{%  block mainpart  %}
<div class="smallcontainer" style="padding-top:50px;">

	 <img class="icon" src="{{  static_path }}/images/setting.png" />
    
</div>
  
<div class="humblecontainer">
  
	<div id="Form1Layout">
		<label style="width:250px;">
			<b><a class="moretotal" href="{{ nav.link('/dashboards/facilities', factype='hd')}}">Manage district hospitals</a></b>
		</label>
		<label style="width:250px;">
			<b><a class="moretotal" href="{{ nav.link('/dashboards/facilities', factype='hc')}}">Manage health centres</a></b>
		</label>
		<label style="width:250px;">
			<b><a class="moretotal" href="{{ nav.link('/dashboards/ambulance')}}">Manage ambulances</a></b>
		</label>
		<label style="width:250px;">
			<b><a class="moretotal" href="{{ nav.link('/dashboards/roles')}}">Manage user roles</a></b>
		</label>

		<label style="width:250px;">
			<b><a class="moretotal" href="{{ nav.link('/dashboards/privileges')}}">Manage user&sol;role privileges</a></b>
		</label>

		<label style="width:250px;">
		<b><a class="moretotal" href="{{ nav.link('/dashboards/exportsdash', export='performance')}}">Download performance list</a></b>
		</label>
		<label style="width:250px;">
		<b><a class="moretotal" href="{{ nav.link('/dashboards/errordash')}}">Error prone</a></b>
		</label>
	</div>


</div>


{%  endblock  %}
