{%  extends "novabase.html" %}
{%  block title %}Staff Registration{%  endblock  %}
{%  block subtitle %} Staff Registration {%  endblock  %}


{% block menu %}
 		  <li class="homelink">
            <a href='/dashboards/{{ nav.link("chw", view= "graphic") }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwreg") }}'><span>Register</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwtrail") }}'><span>CHW Trial</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwstaff") }}'><span>Staff</span></a>
          </li>
	 <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwamb") }}'><span>Ambulance</span></a>
          </li>
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("updatechw") }}'><span>Update CHW</span></a>
          </li> 

          
{% endblock %}

{% block position %}
<li>&#187; <a href='/dashboards/{{ nav.link("chwreg", view= "graphic", minus = ["group"]) }}'>CHW Registration</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}


{%  block mainpart  %}
<div class="smallcontainer" style="padding-top:50px;">

	 <img class="icon" src="{{  static_path }}/images/chwphone.png" />
    <div class="infoname" style="font-size: 20px;">Total Number of Staff</div>
    <div class="moretotal" ><a href="">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="">{{display.nat[0]['total']}}</a>
    </div>



  </div>
  </div>
  
  <div class="humblecontainer">
  <div class="infoname" style="padding-left:200px; padding-top:50px; padding-bottom: 20px;">Register a new Staff</div>

   <form class="regform" method="POST">
    
<label style="color:red;">{{display.error}}</label> <label style="color:blue;">{{display.success}}</label>
<br><br>
    
<label id="nid">National ID: </label>
<input type="text" name="nid" id="national_id" value="" class="ac_input">
<br><br>


<label id="tel">Telephone: </label>
<input type="text" name="telephone_moh" id="telephone_moh" value="" class="ac_input">
<br><br>

<label>Surname: </label>
<input type="text" name="surname" id="surname" value="" size="30">
<br><br>

<label id="gn">Given Name: </label>
<input type="text" name="given_name" value="">
<br><br>

<label id="email">Email: </label>
<input value="" placeholder="Email" type="text" name="email" />
<br><br>

<label id="dob">Date of Birth: </label>
<input value="" placeholder="Date of birth" type="text" name="dob" onFocus="displayCalendar(form.dob,'dd/mm/yyyy',this)" size = "10"/>
<br><br>

<label id="service">Service: </label>
<select name="service" id="servicechoose"><option></option>
<option value="Chief of Ambulance Drivers">Chief of Ambulance Drivers</option>
<option value="Chief of Emergency">Chief of Emergency</option>
<option value="Chief of Supervisors">Chief of Supervisors</option>
<option value="Chief of Maternity">Chief of Maternity</option>
<option value="Chief of Nursing">Chief of Nursing</option>
<option value="Chief of Medical Staff">Chief of Medical Staff</option>
<option value="Supervisor">Supervisor</option>
<option value="Data Manager">Data Manager</option>
<option value="Monitor Evaluator">Monitor Evaluator</option>
<option value="Hospital Director">Hospital Director</option>  
</select>
<br><br>

<label id="role">Administrative Level: </label>
<select name="role" id="rolechoose">}<option > </option>
<option value="HealthCenter">Health Center</option>
<option value="Hospital">Hospital</option>
<option value="District">District</option>
</select>
<br><br>


<label> District: </label>
<select name="district" id="district" onChange="changeHps(this.value);"> <option value=""></option> </select>
<br><br>

<label id="referral">Referral Hospital: </label>
<select name="referral" id="referralchoose" ><option></option></select> 
<br><br>

<label >Health Center: </label>
<select name="health_center" id="health_center"><option > </option></select> 
<br><br>

<label id="sector">Sector: </label>
<select name="sector" id="secchoose" >{%for x in display.sectors%}<option value={{x.id}}> {{x.name}}</option>{%endfor%}</select> 
<br><br>

<label id="cell">Cell: </label>
<select name="cell" id="cellchoose" ><option > </option></select> 
<br><br>

<label id="village">Village: </label>
<select name="village" id="villchoose"><option > </option></select> 
<br><br>


<label id="lang">Language: </label>
<select name="language" id="language">
<option value="rw">Kinyarwanda</option>
<option value="fr">Francais</option>
<option value="en">English</option>  
</select>
<br><br>


  <input type="button"  onClick="return PassCheck(this.form);" value="Register" />
  </form>

  </div>

<script type="text/javascript" src="{{ static_path }}/javascripts/facebox/jquery.js"></script>
<script type="text/javascript" src="{{ static_path }}/javascripts/facebox/autocomplete.js"></script>
<script type="text/javascript" src="{{ static_path }}/javascripts/facebox/facebox.js"></script>
<script type="text/javascript">

jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loading_image : '{{ static_path }}/javascripts/facebox/loading.gif',
        close_image   : '{{ static_path }}/javascripts/facebox/closelabel.gif'
      }) 
    })


</script>  

<script type="text/javascript">



//CHW autocomplete
$().ready(function() {

function formatItem(row) {
		return "<tr><td width=90>" + row[0] + "</td><td width=90>" + row[1] + "</td><td width=90>" + row[2] + "</td><td width=90>" + row[3] + "</td><td width=90>" + row[4] + "</td><td width=90>" + row[5] + "</td><td width=90>" + row[6] + "</td></tr>";
	}
	function formatResultNID(row) {
		$("#info").val(row[0]  + "(National ID: " + row[1] + ", Telephone MoH: " +row[2] + ", Village: " + row[3] + ", Cell: " +row[4] + ", Sector: " +row[5] + ", District: " +row[6]+")");

		$("#pk").val(row[7]);		
		$("#telephone_moh").val(row[2]);
		$("#surname").val(row[0]);
		return row[1].replace(/(<.+?>)/gi, '');
	}
	function formatResultPhone(row) {
                
		$("#info").val(row[0]  + "(National ID: " + row[1] + ", Telephone MoH: " +row[2] + ", Village: " + row[3] + ", Cell: " +row[4] + ", Sector: " +row[5] + ", District: " +row[6]+")");

		$("#pk").val(row[7]);		
		$("#national_id").val(row[1]);
		$("#surname").val(row[0]);

		return row[2].replace(/(<.+?>)/gi, '');
	}

	


$("#national_id").autocomplete('/dashboards/searchstaff', {
		width: 600,
		minChars: 15,
		multiple: false,
		matchContains: true,
		formatItem: formatItem,
		formatResult: formatResultNID
		});


$("#telephone_moh").autocomplete('/dashboards/searchstaff', {
		width: 600,
		minChars: 9,
		multiple: false,
		matchContains: true,
		formatItem: formatItem,
		formatResult: formatResultPhone
		});


});



// end of CHW autocomplete

function changeHcs(value){
		var selected_hcs = _.filter(locations, function(item) {  return item.district_id == value; });
		document.getElementById('health_center').options.length = selected_hcs.length + 1;
		document.getElementById('health_center').options[0] = new Option("", "");
		for ( var i=0; i<selected_hcs.length; i++ ){
						hc = selected_hcs[i];
						document.getElementById('health_center').options[i+1] = new Option(hc.name, hc.id);
							}
}

function changeHps(value){
		var selected_hps = _.filter(hps, function(item) {  return item.district_id == value; });
		document.getElementById('referralchoose').options.length = selected_hps.length + 1;
		document.getElementById('referralchoose').options[0] = new Option("", "");
		for ( var i=0; i<selected_hps.length; i++ ){
						hp = selected_hps[i];
						document.getElementById('referralchoose').options[i+1] = new Option(hp.name, hp.id);
							}
}



$(document).ready(function() {

	
	
	$('#rolechoose').change(function(evt){
    
		for ( var i=0; i<districts.length; i++ ){
						district = districts[i]
						document.getElementById('district').options[i+1] = new Option(district.district_name, district.district_id);
							}	
	});

	$('#district').change(function(evt){    
		var value = $(this).attr('value');
		changeHps(value);
		changeHcs(value);
		var selected_secs = [];
		$.getJSON( "/dsectors?district="+value , function( result ){ // alert(JSON.stringify(result));
		selected_secs = _.map(_.indexBy(result, 'id'), function(obj){return obj}); // alert(JSON.stringify(selected_secs));
		for ( var i=0; i<selected_secs.length; i++ ){ 
						sector = selected_secs[i];
						document.getElementById('secchoose').options[i+1] = new Option(sector.name, sector.id);
							}

		}); 	
	});

	$('#secchoose').change(function(evt){    
		var value = $(this).attr('value');
		var selected_clls = [];
		$.getJSON( "/scells?sector="+value , function( result ){ // alert(JSON.stringify(result));
		selected_clls = _.map(_.indexBy(result, 'id'), function(obj){return obj}); // alert(JSON.stringify(selected_secs));
		for ( var i=0; i<selected_clls.length; i++ ){ 
						cell = selected_clls[i];
						document.getElementById('cellchoose').options[i+1] = new Option(cell.name, cell.id);
							}

		}); 	
	});

	$('#cellchoose').change(function(evt){    
		var value = $(this).attr('value');
		var selected_vills = [];
		$.getJSON( "/cvillages?cell="+value , function( result ){ // alert(JSON.stringify(result));
		selected_vills = _.map(_.indexBy(result, 'id'), function(obj){return obj}); // alert(JSON.stringify(selected_secs));
		for ( var i=0; i<selected_vills.length; i++ ){ 
						village = selected_vills[i];
						document.getElementById('villchoose').options[i+1] = new Option(village.name, village.id);
							}

		}); 	
	});

	

});

function PassCheck(form1)
	{ 

	if(form1.telephone_moh.value=="" || form1.telephone_moh.value.indexOf("078") < 0 || form1.telephone_moh.value.replace("+25","").length != 10 || isNaN(form1.telephone_moh.value.replace("+25","")) )
	{
	alert("Get in the Valid Telephone Number please.");
		form1.telephone_moh.focus();
		return false;
	}
	else if(form1.nid.value=="" || form1.nid.value.length != 16 || isNaN(form1.nid.value) )
	{
	alert("Get in the Valid National ID.");
	form1.new_pass.focus();
	return false;
	}
	else if(form1.health_center.value=="" || isNaN(form1.health_center.value))
	{
	alert("Select Health Center");
	form1.health_center.focus();
	return false;
	}
	else if( form1.referral.value == "" || isNaN(form1.referral.value))
	{
	alert("Select Referral Hospital.");
	form1.referral.focus();
	return false;
	}
	else if(form1.village.value=="" || isNaN(form1.village.value))
	{
	alert("Select Village Please.");
	form1.village.focus();
	return false;
	}

	else if(form1.surname.value=="")
	{
	alert("Get in Names Please.");
	form1.surname.focus();
	return false;
	}

	else if(form1.dob.value=="")
	{
	alert("Get in Date Of Birth Please.");
	form1.dob.focus();
	return false;
	}	
	else
	{
		form1.submit();
	}
    }
</script>

{%  endblock  %}
