{%  extends "novabase.html" %}
{%  block title %}Facilities {%  endblock  %}
{%  block subtitle %} {% if display.factype == 'hc' %}Health Centre{%else%}District Hospital{%endif%} List {%  endblock  %}

{% block menu %}
 	<li class="homelink">
            <a href='/dashboards/{{ nav.link("userdash", view= "graphic", minus=["id", "pid"]) }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("registeruser", minus=["id", "pid"]) }}'><span>Register</span></a>
          </li>
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("seachupdateuser", minus=["id", "pid"]) }}'><span>Update</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("usertrail") }}'><span>Trail</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwupload", minus=["template"]) }}'><span>Upload Users List</span></a>
          </li>  
	  
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("groupmessage") }}'><span>Group Messages</span></a>
          </li>
	<li class="homelink">
            <a href='/dashboards/{{ nav.link("adminsite") }}'><span>Admin Site</span></a>
          </li>     
{% endblock %}

{% block position %}
<li >&#187; <a href="{{ nav.link('/dashboards/facilities')}}">Facilities</a></li>
{% if display.factype %}
<li> &#187; <a href="/tables/{{ nav.link('facilities', factype= display.factype, view= 'graphic', minus = ['group']) }}" >
	{% if display.factype == 'hc' %}Health Centre{%else%}District Hospital{%endif%}</a>
</li>
{% endif %}
{% endblock %}

{%  block mainpart  %}
	<div id="Form1Layout">
	<form method="POST">
	<label><b>Search Facility by: </b></label>
	<select name="search">
		<option value=""></option>
		<!--<option value="fac">Facility Name</option> -->
		<option value="code">FOSA Code</option>
	</select>
	</br>
	</br>
	<label>Enter search value:</label><input type="text" name="identity" />
	</br> 
	<label id="ntayo">&nbsp;</label>
	<input type="submit" name="sim" value="Go" class="My_Button"/>
	</form>
	</div>
  {%  include "basictable.html"  %}
{%  endblock  %}
