{%  extends "basicmothers.html" %}
{%  block subtitle %}  Mother Reports {%  endblock  %}
{% block position %}

<li>&#187; <a href="/dashboards/predash">Pregnancy</a></li>



<li>&#187; {{ pid }}</li>

{% endblock %}

{%  block mainpart  %}
<h2>Patient</h2>
<div style="float:right; padding-bottom:10px;font-family: 'Open Sans', sans-serif; font-size: 15px; ">
<a href="{{ nav.link('/tables/patienthistory', pid = pid )}}">View Patient Record</a>
</div>

<table width="100%">
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>Reporter Phone</th>
      <th>Province</th>
      <th>District</th>
      <th>HealthCentre</th>
      <th>Sector</th>
      <th>Cell</th>
      <th>Village</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  
    <td>{{display.patient.indangamuntu}}</td>
    <td>{{display.patient.reporter_phone}}</td>
    <td>{{display.patient.province}}</td>
    <td>{{display.patient.district}}</td>
    <td>{{display.patient.healthcentre}}</td>
    <td>{{display.patient.sector}}</td>
    <td>{{display.patient.cell}}</td>
    <td>{{display.patient.village}}</td>
  
  </tr>
 </tbody>
</table>

<h2>Pregnancy Report</h2>
{% include 'report_table.html' %} 

<h2>High Risk Symptoms</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>
 {% set hrisk = [] %}
 {%  if  display.hattrs %}

        
          {%  for bc in display.hattrs %}
        <tr>  {%  if  display.nat[0][bc[0].split()[0]] == True %} 
		{% set _ = hrisk.append(bc[0].split('_')[4]) %} <!-- The only way to hack so that we can add on hrisk is by using a variable _ -->
		<td style="background-color:red"> {{bc[0].split('_')[4]}}</td><td>{{  bc[1] }}</td>{% endif %}</tr>
          {%  endfor  %}
        
        
{% endif %}
{% if not hrisk %}
  <tr>
    <td colspan=2><center>No High Risk Symptoms</center></td>
  </tr>
{% endif %}
</table>

<h2>Risk Symptoms</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
    </tr>
  </thead>
 {% set risk = [] %} 
 {%  if  display.rattrs %}

        
          {%  for bc in display.rattrs %}
        <tr>  {%  if  display.nat[0][bc[0].split()[0]] == True %} 
		{% set _ = risk.append(bc[0].split('_')[2]) %}
		<td style="background-color:yellow" > {{bc[0].split('_')[2]}}</td><td>{{  bc[1] }}</td>{% endif %}</tr>
          {%  endfor  %}
        
        
{% endif %}
{% if not risk %} 
  <tr>
    <td colspan=2><center>No Risk Symptoms</center></td>
  </tr>
{% endif %}
</table>


<h2>Red Notifications</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Reporter Phone</th>
    </tr>
  </thead>
{% if display.red_notifications %}
  {% for red in display.red_notifications %}
  <tr>
    <td></td>
    <td></td>
    <td><a href=""></a></td>
  </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan=3><center>No Red Notifications sent yet.</center></td>
  </tr>
{% endif %}
</table>

<h2>Nutrition Notifications</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Reporter Phone</th>
    </tr>
  </thead>
{% if display.nutr_notifications %}
  {% for nutr in display.nutr_notifications %}
  <tr>
    <td></td>
    <td></td>
    <td><a href=""></a></td>
  </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan=3><center>No Nutrition Notifications sent yet.</center></td>
  </tr>
{% endif %}
</table>


<h2>Reminders</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Reporter Phone</th>
    </tr>
  </thead>
{% if display.reminders %}
  {% for reminder in reminders %}
  <tr>
    <td></td>
    <td></td>
    <td><a href=""></a></td>
  </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan=3><center>No reminders sent yet.</center></td>
  </tr>
{% endif %}
</table>



<!-- ANC Information -->
<h1>ANC Reports</h1>
 <table width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Weight</th>
    </tr>
  </thead>
 
  {%  for anc in display.anc_reports.list() %}
  <tr>
  <td>
  ANC{{  anc['anc_visit'] }}
  </td>
  <td>
  {{  anc['report_date'] }}
  </td>
  <td>
  {{  anc['mother_weight'] }}kg
  </td>
  </tr>
  {% endfor %}

 <tr>
  <td>
  PRE(ANC1)
  </td>
  <td>
  {{  display.patient['report_date'] }}
  </td>
  <td>
  {{  display.patient['mother_weight'] }}kg
  </td>
  </tr>
  </table>
  

  
  
 
  <script src="{{ static_path }}/javascripts/highcharts.js"></script>
  
  <div id="anc" style="width:50%; height: 200px;">
  
</div>


		<script type="text/javascript">
$(function () {
        $('#anc').highcharts({
            title: {
                text: 'ANC Weights',
                x: -20 //center
            },
            
            xAxis: {
                categories: ['PRE(ANC1)', 'ANC2', 'ANC3', 'ANC4']
            },
            yAxis: {
                title: {
                    text: 'Patient Weights'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'Kgs'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Weight',
                data: [{% for report in display.pre_reports %}
                {{report.mother_weight}}
                {% endfor %},
                       {%  for anc in display.anc_reports.list()|reverse %}
                       {{  anc['mother_weight'] }},
                       
                       {% endfor %}
				]
            }]
        });
    });
    

		</script>

{%  endblock  %}
