{%  extends "novabase.html" %}
{%  block title %}Users{%  endblock  %}
{%  block subtitle %} Update User Registration {%  endblock  %}


{% block menu %}
 	<li class="homelink">
            <a href='/dashboards/{{ nav.link("userdash", view= "graphic", minus=["id", "pid"]) }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("registeruser", minus=["id", "pid"]) }}'><span>Register</span></a>
          </li>
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("seachupdateuser", minus=["id", "pid"]) }}'><span>Update</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("usertrail") }}'><span>Trail</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwupload", minus=["template"]) }}'><span>Upload Users List</span></a>
          </li>  
	  
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("groupmessage") }}'><span>Group Messages</span></a>
          </li>
	<li class="homelink">
            <a href='/dashboards/{{ nav.link("adminsite") }}'><span>Admin Site</span></a>
          </li>         

          
{% endblock %}

{% block position %}
<li>&#187; <a href='/dashboards/{{ nav.link("registeruser", view= "graphic", minus = ["group"]) }}'>Update User Registration</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}


{%  block mainpart  %}
<div class="smallcontainer" style="padding-top:50px;">

	 <img class="icon" src="{{  static_path }}/images/chwphone.png" />
    <div class="infoname" style="font-size: 20px;">Total number of users</div>
    <div class="moretotal" ><a href="{{ nav.link('/tables/userdash', summary = 'on', minus=["id", "pid"])}}">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="{{ nav.link('/tables/userdash', minus=["id", "pid"])}}">{{display.nat.total}}</a>
    </div>



  </div>
  </div>
  
  <div class="humblecontainer">
  <div class="infoname" style="padding-left:200px; padding-top:50px; padding-bottom: 20px;">Update user</div>

   <form class="regform" method="POST">
    
{% if nav.kw.nid and not display.user %}
	<label style="color:red;">{{display.message}}</label>
{% else %} 
	<label style="color:blue;">{{ display.message}}  {{display.user.surname}} </label>
{%endif%}
<br><br>

<label id="nid">Email: </label>
<input type="text" name="email" id="email" value="{{display.user.email}}" class="ac_input">
<br><br>

<input type="hidden" name="pk" id="pk" value="{{display.user.indexcol}}" />
<input type="hidden" name="info" id="info" value="" />
	
<label id="nid">National ID: </label>
<input type="text" name="nid" id="national_id" value="{{display.user.national_id}}" class="ac_input">
<br><br>


<label id="tel">Telephone: </label>
<input type="text" name="telephone_moh" id="telephone_moh" value="{{display.user.telephone}}" class="ac_input">
<br><br>
    
<label>Surname: </label>
<input type="text" name="surname" id="surname" value="{{display.user.surname}}">
<br><br>

<label id="gn">Given Name: </label>
<input type="text" name="given_name" id="given_name" value="{{display.user.given_name}}">
<br><br>

<label id="sex">Sex: </label>
<select name="sex" id="sexchoose"><option></option>
{%for x in display.genders%}
<option value={{x.indexcol}} {% if display.user.sex_pk == x.indexcol %} selected = selected {% endif %}> {{x.name}}</option>
{%endfor%}   
</select>
<br><br>

<label id="role">Role: </label>
<select name="role" id="rolechoose"><option></option>
{%for x in display.roles%}
<option value={{x.indexcol}} {% if display.user.role_pk == x.indexcol %} selected = selected {% endif %}> {{x.name}}</option>
{%endfor%}   
</select>
<br><br>

<label id="edu">Educational Level: </label>
<select name="edu_level" id="educhoose"> <option></option>
{%for x in display.education_levels%}
<option value={{x.indexcol}} {% if display.user.education_level_pk == x.indexcol %} selected = selected {% endif %}> {{x.name}}</option>
{%endfor%}
</select>
<br><br>

<label id="dob">Date of Birth: </label>
<input value="{{display.user.date_of_birth|make_date}}" placeholder="Date of birth" type="text" name="dob" onFocus="displayCalendar(form.dob,'dd/mm/yyyy',this)" size = "10" />
<br><br>


<label id="jod">Joining Date: </label>
<input value="{{display.user.join_date|make_date}}" placeholder="Joining Date" type="text" name="djoin" onFocus="displayCalendar(form.djoin,'dd/mm/yyyy',this)" size = "10"/>
<br><br>

<label> Province: </label>
<input type="hidden" name="user_nation" id="user_nation" value="{{display.user.nation_pk}}" />
<select name="user_province" id="user_province"> <option></option>
{% for prv in  display.locs['provinces'] %}
<option value="{{prv.province_pk}}" {% if display.user.province_pk == prv.province_pk %} selected = selected {% endif %}>{{prv.province_name}} </option> 
{%endfor%} 
</select>
<br><br>

<label> District: </label>
<select name="user_district" id="user_district"> <option></option>
{% for dst in  display.locs.districts %}
<option value="{{dst.district_pk}}" {% if display.user.district_pk == dst.district_pk %} selected = selected {% endif %}>{{dst.district_name}} </option> 
{%endfor%} 
</select>
<br><br>

<label id="referral">Referral Hospital: </label>
<select name="user_hospital" id="user_hospital"><option></option>
{% for hd in  display.locs.hospitals %}
<option value="{{hd.indexcol}}" {% if display.user.referral_facility_pk == hd.indexcol %} selected = selected {% endif %}>{{hd.name}} </option>
 {%endfor%}
</select> 
<br><br>

<label >Health Center: </label>
<select name="user_facility" id="user_facility"><option></option>
{% for fac in  display.locs.hcs %}
<option value="{{fac.indexcol}}" {% if display.user.facility_pk == fac.indexcol %} selected = selected {% endif %}>{{fac.name}} </option> 
{%endfor%}
</select> 
<br><br>

<label >Catchment Area Level: </label>
<select name="user_area_level" id="user_area_level"><option></option>
{% for area in  display.area_levels %}
<option value="{{area.indexcol}}" {% if display.user.location_level_pk == area.indexcol %} selected = selected {% endif %}>{{area.name}} </option> 
{%endfor%}
</select> 
<br><br>

<label id="sector">Sector: </label>
<select name="user_sector" id="user_sector"><option > </option>
{%for x in display.sectors %}
<option value={{x.indexcol}} {% if display.user.sector_pk == x.indexcol %} selected = selected {% endif %}> {{x.name}}</option>
{%endfor%}
</select> 
<br><br>

<label id="cell">Cell: </label>
<select name="user_cell" id="user_cell"><option > </option>
{%for x in display.cells %}
<option value={{x.indexcol}} {% if display.user.cell_pk == x.indexcol %} selected = selected {% endif %}> {{x.name}}</option>
{%endfor%}
</select> 
<br><br>

<label id="village">Village: </label>
<select name="user_village" id="user_village"><option > </option>
{%for x in display.villages %}
<option value={{x.indexcol}} {% if display.user.village_pk == x.indexcol %} selected = selected {% endif %}> {{x.name}}</option>
{%endfor%}
</select> 
<br><br>

<label id="lang">Language: </label>
<select name="language" id="language">
<option></option>
{%for x in display.langs%}
{% if x.code != 'FR' %}
<option value={{x.indexcol}} {% if display.user.language_pk == x.indexcol%} selected = selected {% endif %}> {{x.name}}</option>
{%endif%}
{%endfor%}  
</select>
<br><br>


  <input type="button"  onClick="return PassCheck(this.form);" value="Update" />
  </form>

  </div>

<script type="text/javascript" src="{{ static_path }}/javascripts/facebox/jquery.js"></script>
<script type="text/javascript" src="{{ static_path }}/javascripts/facebox/autocomplete.js"></script>
<script type="text/javascript" src="{{ static_path }}/javascripts/facebox/facebox.js"></script>
<script type="text/javascript">

jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loading_image : '{{ static_path }}/javascripts/facebox/loading.gif',
        close_image   : '{{ static_path }}/javascripts/facebox/closelabel.gif'
      }) 
    })


</script>  

<script type="text/javascript">

//CHW autocomplete
$().ready(function() {
//alert("OK");
function formatItem(row) {
		return "<tr><td width=90>" + row[0] + "</td><td width=90>" + row[1] + "</td><td width=90>" + row[2] + "</td><td width=90>" + row[3] + "</td><td width=90>" + row[4] + "</td><td width=90>" + row[5] + "</td><td width=90>" + row[6] + "</td><td width=90>" + row[7] + "</td></tr>";
	}
	function formatResultNID(row) {
		$("#info").val(row[0] + " "+ row[1] + "(National ID: " + row[2] + ", Telephone MoH: " +row[3] + ", Village: " + row[4] + ", Cell: " +row[5] + ", Sector: " +row[6] + ", District: " +row[7]+")");

		$("#pk").val(row[8]);		
		$("#telephone_moh").val(row[3]);
		$("#surname").val(row[0]);
		$("#given_name").val(row[1]);
		return row[2].replace(/(<.+?>)/gi, '');
	}
	function formatResultPhone(row) {
                
		$("#info").val(row[0] + " "+ row[1] + "(National ID: " + row[2] + ", Telephone MoH: " +row[3] + ", Village: " + row[4] + ", Cell: " +row[5] + ", Sector: " +row[6] + ", District: " +row[7]+")");

		$("#pk").val(row[8]);		
		$("#national_id").val(row[2]);
		$("#surname").val(row[0]);
		$("#given_name").val(row[1]);

		return row[3].replace(/(<.+?>)/gi, '');
	}

	


$("#national_id").autocomplete('/dashboards/usersearch', {
		width: 600,
		minChars: 15,
		multiple: false,
		matchContains: true,
		formatItem: formatItem,
		formatResult: formatResultNID
		});


$("#telephone_moh").autocomplete('/dashboards/usersearch', {
		width: 600,
		minChars: 9,
		multiple: false,
		matchContains: true,
		formatItem: formatItem,
		formatResult: formatResultPhone
		});


$('#user_province').change(function(evt){   
		var value = $(this).attr('value'); // alert("PRV: " + value);
		var selected_dsts = _.filter(districts, function(item) { 
							//alert( value+", "+ item.province_pk+", "+ item.nation_pk +", "+ item.district_pk)
									document.getElementById('user_nation').value = item.nation_pk;
									 return item.province_pk == value;  }); 
		//alert(JSON.stringify(selected_dsts));
		//alert(selected_dsts.length);
		document.getElementById("user_district").options.length=0;
		for ( var i=0; i<selected_dsts.length; i++ ){ 
				dst = selected_dsts[i];
				document.getElementById('user_district').options[i+1] = new Option(dst.district_name, dst.district_pk);
							}

		});

$('#user_district').change(function(evt){   
		var value = $(this).attr('value');  //alert("DIST: " + value);
		$.getJSON( "/filter_locs", {loctype: "sec", locparentid: value}, function( result ){
				//alert(JSON.stringify(result));
				document.getElementById("user_sector").options.length=0;
				for ( var i=0; i<result.length; i++ ){
							sector = result[i];							
							document.getElementById('user_sector').options[i+1] = new Option(
									sector.name, sector.indexcol);
							}
		}); 
		
		var selected_hps = _.filter(hps, function(item) {  return item.district_pk == value;  }); 
		//alert(JSON.stringify(selected_hps));
		document.getElementById("user_hospital").options.length=0;
		for ( var i=0; i<selected_hps.length; i++ ){ 
				hd = selected_hps[i];
			document.getElementById('user_hospital').options[i+1] = new Option(hd.referral_name, hd.referral_facility_pk);
							}
		
		});

$('#user_hospital').change(function(evt){   
		var value = $(this).attr('value');  
		var selected_hcs =_.filter(locations, function(item) {  return item.referral_facility_pk == value;  }); 
		//alert(JSON.stringify(selected_hcs));
		document.getElementById("user_facility").options.length=0;
		for ( var i=0; i<selected_hcs.length; i++ ){ //alert("HD: " + value);
						hc = selected_hcs[i];
						document.getElementById('user_facility').options[i+1] = new Option(hc.name, hc.indexcol);
							}

		});

$('#user_sector').change(function(evt){   
		var value = $(this).attr('value');  
		$.getJSON( "/filter_locs", {loctype: "cel", locparentid: value}, function( result ){
				//alert(JSON.stringify(result));
				document.getElementById("user_cell").options.length=0;
				for ( var i=0; i<result.length; i++ ){
							cell = result[i];							
							document.getElementById('user_cell').options[i+1] = new Option(
									cell.name, cell.indexcol);
							}
		}); 
		});

$('#user_cell').change(function(evt){   
		var value = $(this).attr('value');  
		$.getJSON( "/filter_locs", {loctype: "vil", locparentid: value}, function( result ){
				//alert(JSON.stringify(result));
				document.getElementById("user_village").options.length=0;
				for ( var i=0; i<result.length; i++ ){
							village = result[i];							
							document.getElementById('user_village').options[i+1] = new Option(
									village.name, village.indexcol);
							}
		}); 

		}); 


});



function PassCheck(form1)
	{ 
	if(form1.telephone_moh.value=="" || form1.telephone_moh.value.indexOf("078") < 0 || form1.telephone_moh.value.replace("+25","").length != 10 || isNaN(form1.telephone_moh.value.replace("+25",""))  )
	{
	alert("Get in the Valid Telephone Number please.");
		form1.telephone_moh.focus();
		return false;
	}
	else if(form1.nid.value=="" || form1.nid.value.length != 16 || isNaN(form1.nid.value) )
	{
	alert("Get in the Valid National ID.");
	form1.nid.focus();
	return false;
	}
	else if(form1.role.value=="" || isNaN(form1.role.value))
	{
	alert("Select ASM or Binome.");
	form1.role.focus();
	return false;
	}
	else if( form1.user_province.value == "" || isNaN(form1.user_province.value))
	{
	alert("Select province.");
	form1.user_province.focus();
	return false;
	}
	else if( form1.user_district.value == "" || isNaN(form1.user_district.value))
	{
	alert("Select district.");
	form1.user_district.focus();
	return false;
	}
	else if( form1.user_hospital.value == "" || isNaN(form1.user_hospital.value))
	{
	alert("Select Referral Hospital.");
	form1.user_hospital.focus();
	return false;
	}
	else if(form1.user_facility.value=="" || isNaN(form1.user_facility.value))
	{
	alert("Select Health Center");
	form1.user_facility.focus();
	return false;
	}
	else if(form1.user_area_level.value=="" || isNaN(form1.user_area_level.value))
	{
	alert("Select catchment area levl please.");
	form1.user_area_level.focus();
	return false;
	}
	else if(form1.user_village.value=="" || isNaN(form1.user_village.value))
	{
	alert("Select sector, cell and village Please.");
	form1.user_sector.focus();
	return false;
	}

	else if(form1.surname.value=="" || form1.given_name.value == "")
	{
	alert("Get in surname and given names Please.");
	form1.surname.focus();
	return false;
	}

	else if(form1.dob.value=="")
	{
	alert("Get in Date Of Birth Please.");
	form1.dob.focus();
	return false;
	}

	else if(form1.djoin.value=="")
	{
	alert("Get in Joining Date Please.");
	form1.djoin.focus();
	return false;
	}
	else if(form1.edu_level.value=="")
	{
	alert("Select education level Please.");
	form1.edu_level.focus();
	return false;
	}
	else if(form1.sex.value=="")
	{
	alert("Select Sex Please.");
	form1.sex.focus();
	return false;
	}
	else if(form1.language.value=="")
	{
	alert("Select language please.");
	form1.language.focus();
	return false;
	}
	else
	{
		form1.submit();
	}
    }
</script>

{%  endblock  %}
